{
  "all": true,
  "include": [
    "controllers/**/*.js",
    "helper/**/*.js",
    "routes/**/*.js",
    "models/**/*.js"
  ],
  "exclude": [
    "server.js",
    "app.js",
    "models/db.js",
    "helper/mail.js",
    "helper/bull.js",
    "helper/file_upload.js",
    "helper/token.js",
    "node_modules/**"
  ],
  "reporter": ["text", "html"],
  "report-dir": "./coverage"
}
